/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/search-sidebar/form/Form.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Form_container__MqoUt {
  box-shadow: 0px 2px 8px rgba(141, 40, 40, 0.1);
  background-color: #797979;
}
.Form_container__MqoUt h2 {
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.Form_container__MqoUt h3 {
  color: #fff;
  font-weight: 300;
  font-family: var(--font-montserrat);
  margin-top: 15px;
  font-size: 16px;
}
.Form_container__MqoUt > div {
  padding: 0 15px 10px 15px;
}
.Form_container__MqoUt .Form_date__32PTX {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.Form_container__MqoUt .Form_date__32PTX > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.Form_container__MqoUt .Form_date__32PTX > div p {
  margin: 0;
  margin-right: 10px;
  color: #ffffff;
}
.Form_container__MqoUt .Form_date__32PTX > div input {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px;
  min-width: 200px;
}
.Form_container__MqoUt select {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #d9d9d9;
  margin: 10px 0;
}
.Form_container__MqoUt input[type=submit] {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.76);
  color: #c70b0b;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.Form_container__MqoUt input[type=submit]:hover {
  background-color: #c70b0b;
  color: #fff;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/search-sidebar/SearchSideBar.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SearchSideBar_sidebar__NEkqY {
  margin-top: 20px;
}
.SearchSideBar_sidebar__NEkqY h1 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/app/[locale]/series/(search)/layout.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.layout_searchContainer__KBaix {
  display: flex;
  margin: 0 30px;
}

@media (max-width: 768px) {
  .layout_searchContainer__KBaix {
    flex-direction: column;
  }
}
