/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/media-details/MediaDetails.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MediaDetails_details__OVu3B {
  position: relative;
  width: 100%;
  min-height: 60vh;
}
.MediaDetails_details__OVu3B .MediaDetails_background__LvhQX {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.MediaDetails_details__OVu3B .MediaDetails_background__LvhQX img {
  object-fit: cover;
}
.MediaDetails_details__OVu3B .MediaDetails_background__LvhQX::after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 18, 38, 0.8);
  content: "";
}
.MediaDetails_details__OVu3B .MediaDetails_content__F6r0y {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
}
.MediaDetails_details__OVu3B .MediaDetails_content__F6r0y span {
  color: #b4b4b4;
}
@media (max-width: 768px) {
  .MediaDetails_details__OVu3B .MediaDetails_content__F6r0y {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }
  .MediaDetails_details__OVu3B .MediaDetails_content__F6r0y img {
    margin: auto;
  }
  .MediaDetails_details__OVu3B .MediaDetails_content__F6r0y .MediaDetails_description__ZB7KY {
    flex: 1 1;
    text-align: center;
    padding: 30px;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/media-credits/MediaCredits.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MediaCredits_credits__7V2Oz {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.MediaCredits_credits__7V2Oz > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.MediaCredits_credits__7V2Oz > div p {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 700;
}
.MediaCredits_credits__7V2Oz > div img {
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 40%;
  box-shadow: 1px 1px 2px #b4b4b4;
}

@media (max-width: 768px) {
  .MediaCredits_credits__7V2Oz {
    margin-top: 20px;
    justify-content: center;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/media-details/serie-content/SerieContent.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SerieContent_description__FZivL {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 0.6 1;
  color: #fff;
  font-family: var(--font-montserrat);
}
.SerieContent_description__FZivL h1 {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}
.SerieContent_description__FZivL h1 span {
  font-size: 20px;
}
.SerieContent_description__FZivL .SerieContent_production__380c6 {
  font-size: 13px;
}
.SerieContent_description__FZivL h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 0;
}
.SerieContent_description__FZivL .SerieContent_overview__nQ_Y_ {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.SerieContent_description__FZivL .SerieContent_credits__h_UV8 {
  margin-top: auto;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .SerieContent_description__FZivL {
    flex: 1 1;
    text-align: center;
    padding: 30px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/media-details/movie-content/MovieContent.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MovieContent_description__bVq5d {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 0.6 1;
  color: #fff;
  font-family: var(--font-montserrat);
}
.MovieContent_description__bVq5d h1 {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}
.MovieContent_description__bVq5d h1 span {
  font-size: 20px;
}
.MovieContent_description__bVq5d .MovieContent_production__snbo9 {
  font-size: 13px;
}
.MovieContent_description__bVq5d h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 0;
}
.MovieContent_description__bVq5d .MovieContent_overview__pgGlb {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.MovieContent_description__bVq5d .MovieContent_credits__1mgu2 {
  margin-top: auto;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .MovieContent_description__bVq5d {
    flex: 1 1;
    text-align: center;
    padding: 30px;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/similar-media/SimilarMedia.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SimilarMedia_similar__zHE95 {
  display: flex;
  justify-content: center;
}
.SimilarMedia_similar__zHE95 .SimilarMedia_list__lRspH {
  display: flex;
  gap: 20px;
  margin: 30px 0 50px 0;
}
.SimilarMedia_similar__zHE95 .SimilarMedia_list__lRspH > div {
  width: 200px;
}

@media (max-width: 768px) {
  .SimilarMedia_list__lRspH {
    flex-direction: column;
  }
  .SimilarMedia_list__lRspH > div {
    width: 300px !important;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/media-card/MediaCard.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MediaCard_card__HEWTc {
  font-family: var(--font-montserrat);
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  min-width: 200px;
  transition: transform 150ms ease-in-out;
  background-color: #fff;
}
.MediaCard_card__HEWTc:hover {
  transform: scale(1.05);
}
.MediaCard_card__HEWTc .MediaCard_image__hk3sf {
  position: relative;
  width: 100%;
  height: 300px;
}
.MediaCard_card__HEWTc .MediaCard_image__hk3sf img {
  border-radius: 10px 10px 0 0;
}
.MediaCard_card__HEWTc .MediaCard_image__hk3sf > div {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  color: #c70b0b;
}
.MediaCard_card__HEWTc .MediaCard_image__hk3sf > div:hover {
  color: #304886;
  transition: color 0.3s;
}
.MediaCard_card__HEWTc .MediaCard_content__Xtehr {
  padding: 5px 10px;
  position: relative;
}
.MediaCard_card__HEWTc .MediaCard_content__Xtehr .MediaCard_vote___xwHL {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: -19px;
  width: 35px;
  height: 35px;
  z-index: 2;
  margin: 0;
  border: 1px solid #c70b0b;
  background-color: #fff;
  font-weight: bold;
}
.MediaCard_card__HEWTc .MediaCard_content__Xtehr h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 5px 0;
  margin-top: 15px;
}
.MediaCard_card__HEWTc .MediaCard_content__Xtehr p {
  font-size: 0.7rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  .MediaCard_card__HEWTc .MediaCard_card__HEWTc {
    min-width: none !important;
    width: 100% !important;
  }
  .MediaCard_card__HEWTc .MediaCard_image__hk3sf {
    height: 500px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/components/badges/Badges.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Badges_container__ohdtX {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  padding: 10px 10px;
}
.Badges_container__ohdtX .Badges_badge__ccdOu {
  padding: 6px;
  font-size: 0.6rem;
  border-radius: 10px;
  background-color: #b4b4b4;
  color: black;
  font-weight: bold;
}
