@import "variables";

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 0.6;
  color: $whiteColor;
  font-family: var(--font-montserrat);

  h1 {
    font-weight: 700;
    font-size: 26px;
    margin: 0;

    span {
      font-size: 20px;
    }
  }
  .production {
    font-size: 13px;
  }

  h2 {
    color: $whiteColor;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 0;
  }

  .overview {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .credits {
    margin-top: auto;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .description {
    flex: 1;
    text-align: center;
    padding: 30px;
  }
}
